Django
Fabric
argparse
boto
django-extensions
django-compressor
django-debug-toolbar
django-bakery
pep8
pyflakes
coverage
gunicorn
mimeparse
paramiko
psycopg2
pycrypto
python-memcached
six
sqlparse
static
wsgiref
ipdb
ipython
